BROWSER_USER_DATA_DIR=C:\\Users\\YOUR_NAME\\stable-browser-profile
BROWSER_HEADLESS=0
BROWSER_ACTION_TIMEOUT_MS=20000
BROWSER_NAV_TIMEOUT_MS=45000
BROWSER_MAX_RETRIES=2
BROWSER_RETRY_BACKOFF_MS=600
BROWSER_SNAPSHOT_MAX_CHARS=20000
BROWSER_EVIDENCE_SAMPLE_CHARS=2000
BROWSER_CHANNEL=chrome
BROWSER_LOG_DIR=.stable-browser/logs
BROWSER_STATE_DIR=.stable-browser/state
